In [1]:
import pandas as pd

In [2]:
#Load France Data Dictionary
file_path = r'data\france\carlab-annuaire-variable-en.xlsx'
frace_datadict_df = pd.read_excel(file_path)
frace_datadict_df

,Field Name,Type,Length,Description,Unit
0,lib_mrq_utac,varchar,12,Brand,NaN
1,lib_mod_doss,varchar,20,Model,NaN
2,lib_mod,varchar,20,Commercial Model Name,NaN
3,dscom,varchar,91,Trade Name,NaN
4,cnit,varchar,15,National Type Identification Code (CNIT),NaN
5,tvv,varchar,36,Type-Variant-Version (TVV),NaN
6,cod_cbr,varchar,5,Fuel type,NaN
7,hybride,varchar,3,Indicator for hybrid vehicles (Y/N),NaN
8,puiss_admin_98,varnb,2,Administrative power,NaN
9,puiss_max,varnb,11,Maximum power,kW
10,typ_boite_nb_rapp,varchar,3,Gearbox type and number of gears,NaN
11,conso_urb,varnb,11,Urban fuel consumption,liters per 100 km
12,conso_exurb,varnb,11,Extra-urban fuel consumption,liters per 100 km
13,conso_mixte,varnb,11,Combined fuel consumption,liters per 100 km
14,co2,varnb,3,COâ‚‚ emissions,grams per km
15,co_typ_1,varnb,11,CO Type I test result,grams per km
16,hc,varnb,11,HC test result,grams per km
17,nox,varnb,11,NOx test result,grams per km
18,hcnox,varnb,11,HC + NOx test result,grams per km
19,ptcl,varnb,5,Particulate test result,grams per km
20,masse_ordma_min,varnb,4,Minimum curb weight,kg
21,masse_ordma_max,varnb,4,Maximum curb weight,kg
22,champ_v9,varchar,23,V9 field on registration certificate (EURO sta...,NaN
23,date_maj,varchar,6,Last update date,NaN
24,Carrosserie,varchar,19,Body type,NaN
25,gamme,varchar,14,Range,NaN

In [ ]:

#Load France Data


file_path = r'data/france/1-fic_etiq_edition_janvier2001.xlsx'
france_2001a_df = pd.read_excel(file_path, sheet_name='u2001 GO')
france_2001b_df = pd.read_excel(file_path, sheet_name='u2001 ES') #Gasoline/Petrol
france_2001c_df = pd.read_excel(file_path, sheet_name='U2001 ES-GPL') #Gaz de PÃ©trole LiquÃ©fiÃ©):
france_2001d_df = pd.read_excel(file_path, sheet_name='u2001 GPL') # Gas Petrol Liquified

france_2001_df = pd.concat([france_2001a_df, france_2001b_df, france_2001c_df, france_2001d_df], ignore_index=True)
france_2001_df['Year'] = 2001
france_2001_df.info()
france_2001_df

file_path = r'data/france/3-fic_etiq_edition_01_maj_dec2002.xlsx'
france_2002_df = pd.read_excel(file_path )
france_2002_df['Year'] = 2002
france_2002_df.info()
france_2002_df



#file_path = r'data/france/16-12-fic_etiq_edition_avril_2009.xls'

def df_structure(df, n_sample=3):
    summary = []
    total_rows = len(df)
    for col in df.columns:
        s = df[col]
        non_null = s.notna().sum()
        summary.append({
            "column": col,
            "dtype": s.dtype,
            "non_null": non_null,
            "nulls": total_rows - non_null,
            "non_null_%": round(non_null / total_rows * 100, 2) if total_rows else 0,
            "unique": s.nunique(dropna=True),
            "sample_values": ", ".join(map(lambda x: str(x)[:25], s.dropna().unique()[:n_sample]))
        })
    return pd.DataFrame(summary)

structure_2001 = df_structure(france_2001_df)



#france_df = pd.concat([france_2014_df, france_2015_df], ignore_index=True)
#france_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5916 entries, 0 to 5915
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   MARQUES     5916 non-null   object
 1   MODELE      5916 non-null   object
 2   TYP. MINES  5916 non-null   object
 3   CNIT        5916 non-null   object
 4   CARB        5916 non-null   object
 5   CV          5916 non-null   object
 6   PUISS.      5916 non-null   float64
 7   BV          5916 non-null   object
 8   Urbain      5916 non-null   float64
 9   Ex.Urb      5916 non-null   float64
 10  Mixte       5916 non-null   float64
 11  CO2         5916 non-null   int64
 12  Year        5916 non-null   int64
dtypes: float64(4), int64(2), object(7)
memory usage: 601.0+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5183 entries, 0 to 5182
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   GROUPE             0 non-null      float64
 1   MARQUE             5183 non-null   object
 2   MODELE VERSION     5183 non-null   object
 3   CNIT               5183 non-null   object
 4   Unnamed: 4         5183 non-null   object
 5   Unnamed: 5         5183 non-null   object
 6   MINE               5183 non-null   object
 7   ENERGIE            5183 non-null   object
 8   puissance fiscale  5183 non-null   int64
 9   puissance reelle   5183 non-null   float64
 10  bv                 5183 non-null   object
 11  urb                5176 non-null   float64
 12  ex-urb             5176 non-null   float64
 13  mixte              5176 non-null   float64
 14  CO2                5176 non-null   float64
 15  IMMAT              0 non-null      float64
 16  SEGMENT            0 non-null      float64
 17  Year               5183 non-null   int64
dtypes: float64(8), int64(2), object(8)
memory usage: 729.0+ KB

In [ ]:

file_path = r'data/france/fic_etiq_edition_40-mars-2015.csv'
france_2015_df = pd.read_csv(file_path, sep=";", encoding ='latin1')
france_2015_df['Year'] = 2015
france_2015_df.info()

file_path = r'data/france/mars-2014-complete.csv'
france_2014_df = pd.read_csv(file_path, sep=";", encoding ='latin1')
france_2014_df['Year'] = 2014
france_2014_df.info()

file_path = r'data/france/cl_JUIN_2013-complet3.csv'
france_2013_df = pd.read_csv(file_path, sep=";", encoding ='latin1')
france_2013_df['Year'] = 2013
france_2013_df.info()

In [ ]:
#Load France Data

,lib_mrq,lib_mod_doss,lib_mod,dscom,cnit,tvv,cod_cbr,hybride,puiss_admin_98,puiss_max,...,masse_ordma_min,masse_ordma_max,champ_v9,date_maj,Carrosserie,gamme,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29
0,ALFA-ROMEO,159,159,159 1750 Tbi (200ch),M10ALFVP000G340,939AXN1B52C,ES,non,12,147,...,1505,1505,715/2007*692/2008EURO5,mars-14,BERLINE,MOY-SUPER,NaN,NaN,NaN,NaN
1,ALFA-ROMEO,159,159,159 1750 Tbi (200ch),M10ALFVP000H341,939BXN1B53C,ES,non,12,147,...,1555,1555,715/2007*692/2008EURO5,mars-14,BERLINE,MOY-SUPER,NaN,NaN,NaN,NaN
2,ALFA-ROMEO,159,159,159 2.0 JTDm (136ch),M10ALFVP000E302,939AXR1B64,GO,non,7,100,...,1565,1565,715/2007*692/2008EURO5,mars-14,BERLINE,MOY-SUPER,NaN,NaN,NaN,NaN
3,ALFA-ROMEO,159,159,159 2.0 JTDm (136ch),M10ALFVP000F303,939AXR1B64B,GO,non,7,100,...,1565,1565,715/2007*692/2008EURO5,mars-14,BERLINE,MOY-SUPER,NaN,NaN,NaN,NaN
4,ALFA-ROMEO,159,159,159 2.0 JTDm (170ch),M10ALFVP000G304,939AXS1B66,GO,non,9,125,...,1565,1565,715/2007*692/2008EURO5,mars-14,BERLINE,MOY-SUPER,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55039,VOLVO,XC70,XC70,XC70 D4 4cyl (181ch) Stop&Start Geartronic 8,M10VLVVP900U606,BZ73CD,GO,non,10,133,...,1755,1755,715/2007*195/2013EURO6,mars-14,BREAK,SUPERIEURE,NaN,NaN,NaN,NaN
55040,VOLVO,XC70,XC70,XC70 D4 5cyl (181ch) AWD Geartronic 6,M10VLVVP900V607,BZ8156,GO,non,11,133,...,1799,1799,715/2007*630/2012EURO5,mars-14,BREAK,SUPERIEURE,NaN,NaN,NaN,NaN
55041,VOLVO,XC70,XC70,XC70 D5 (215ch) AWD Geartronic 6,M10VLVVP872R581,BZ8256,GO,non,13,158,...,1798,1798,715/2007*630/2012EURO5,mars-14,BREAK,SUPERIEURE,NaN,NaN,NaN,NaN
55042,VOLVO,XC70,XC70,XC70 D5 (215ch) Stop&Start AWD BVM6,M10VLVVP8723582,BZ83A4,GO,non,12,158,...,1788,1788,715/2007*630/2012EURO5,mars-14,BREAK,SUPERIEURE,NaN,NaN,NaN,NaN
55043,VOLVO,XC70,XC70,XC70 T6 (304ch) AWD Geartronic 6,M10VLVVP874P724,BZ90H6,ES,non,21,224,...,1815,1815,715/2007*566/2011EURO5,mars-14,BREAK,SUPERIEURE,NaN,NaN,NaN,NaN