In [54]:
import pandas as pd

In [96]:
# Drop columns with no data (all values NaN or empty/blank strings) for a dataframe (example: france_2005_df)

def drop_empty_columns(df):
    # Detect all-NaN
    all_nan = df.columns[df.isna().all()]
    # Detect columns that are only empty/blank strings (treat NaN as blank)
    blank_like = df.columns[
        (df.fillna("").astype(str).apply(lambda s: s.str.strip()).eq("").all())
    ]
    to_drop = sorted(set(all_nan) | set(blank_like))
    if to_drop:
        print(f"Dropping {len(to_drop)} empty columns:")
        print(to_drop)
        df = df.drop(columns=to_drop)
    else:
        print("No empty columns found.")
    return df

In [92]:
#Load France Data Dictionary
file_path = r'data\france\carlab-annuaire-variable-en.xlsx'
frace_datadict_df = pd.read_excel(file_path)
frace_datadict_df


SOURCE_COL = "Field Name"
TARGET_COL = "New Field Name"

# Build mapping
mapping_df = (
    frace_datadict_df[[SOURCE_COL, TARGET_COL]]
    .dropna()
    .drop_duplicates(subset=SOURCE_COL)
    .assign(**{
        SOURCE_COL: lambda d: d[SOURCE_COL].astype(str).str.strip(),
        TARGET_COL: lambda d: d[TARGET_COL].astype(str).str.strip()
    })
)
rename_map = dict(zip(mapping_df[SOURCE_COL], mapping_df[TARGET_COL]))
rename_map

{'GROUPE': 'GROUPE',
 'lib_mrq_utac': 'Make',
 'MARQUES': 'Make',
 'MARQUE': 'Make',
 'Marques': 'Make',
 'dscom': 'Model Name',
 'MODELE': 'Model Name',
 'MODELE VERSION': 'Model Name',
 'Mod√®les, Versions': 'Model Name',
 'Unnamed: 4': 'Unnamed: 4',
 'Unnamed: 5': 'Unnamed: 5',
 'TYP. MINES': 'MINE',
 'MINE': 'MINE',
 'cnit': 'CNIT',
 'CNIT': 'CNIT',
 'cod_cbr': 'Fuel type',
 'CARB': 'Fuel type',
 'ENERGIE': 'Fuel type',
 'CARBURANT': 'Fuel type',
 'CV': 'CV',
 'puiss_admin_98': 'Administrative power',
 'PUISS.': 'Administrative power',
 'puissance fiscale': 'Administrative power',
 'Puiss Administrative': 'Administrative power',
 'puiss_max': 'Maximum power',
 'puissance reelle': 'Maximum power',
 'Puissance max': 'Maximum power',
 'typ_boite_nb_rapp': 'Gear',
 'BV': 'Gear',
 'bv': 'Gear',
 'conso_urb': 'Urban fuel consumption',
 'Urbain': 'Urban fuel consumption',
 'urb': 'Urban fuel consumption',
 'Conso urb': 'Urban fuel consumption',
 'conso_exurb': 'Extra-urban fuel consumption',
 'Ex.Urb': 'Extra-urban fuel consumption',
 'ex-urb': 'Extra-urban fuel consumption',
 'Conso ex-urb': 'Extra-urban fuel consumption',
 'conso_mixte': 'Combined fuel consumption',
 'Mixte': 'Combined fuel consumption',
 'mixte': 'Combined fuel consumption',
 'Conso mixte': 'Combined fuel consumption',
 'co2': 'CO2_NEDC',
 'CO2': 'CO2_NEDC',
 'IMMAT': 'IMMAT',
 'SEGMENT': 'SEGMENT',
 'Year': 'Year',
 'Unnamed: 11': 'Date'}

In [98]:
#Load France Data 2001
file_path = r'data/france/1-fic_etiq_edition_janvier2001.xlsx'
france_2001a_df = pd.read_excel(file_path, sheet_name='u2001 GO')
france_2001b_df = pd.read_excel(file_path, sheet_name='u2001 ES') #Gasoline/Petrol
france_2001c_df = pd.read_excel(file_path, sheet_name='U2001 ES-GPL') #Gaz de P√©trole Liqu√©fi√©):
france_2001d_df = pd.read_excel(file_path, sheet_name='u2001 GPL') # Gas Petrol Liquified

france_2001_df = pd.concat([france_2001a_df, france_2001b_df, france_2001c_df, france_2001d_df], ignore_index=True)
france_2001_df['Year'] = 2001
france_2001_df.info()
france_2001_df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5916 entries, 0 to 5915
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   MARQUES     5916 non-null   object
 1   MODELE      5916 non-null   object
 2   TYP. MINES  5916 non-null   object
 3   CNIT        5916 non-null   object
 4   CARB        5916 non-null   object
 5   CV          5916 non-null   object
 6   PUISS.      5916 non-null   float64
 7   BV          5916 non-null   object
 8   Urbain      5916 non-null   float64
 9   Ex.Urb      5916 non-null   float64
 10  Mixte       5916 non-null   float64
 11  CO2         5916 non-null   int64
 12  Year        5916 non-null   int64
dtypes: float64(4), int64(2), object(7)
memory usage: 601.0+ KB

,MARQUES,MODELE,TYP. MINES,CNIT,CARB,CV,PUISS.,BV,Urbain,Ex.Urb,Mixte,CO2,Year
0,VOLKSWAGEN,LUPO 3L TDI,MVW70C1R4385,6ESCANYX01AGFD5850021N0H,GO,3,45.0,A 5,3.6,2.7,3.0,81,2001
1,VOLKSWAGEN,LUPO 3L TDI,MVW70C1RX572,6ESCAYZX01AGFD5850021N0H,GO,3,45.0,A 5,3.6,2.7,3.0,81,2001
2,VOLKSWAGEN,LUPO 3L TDI,MVW70C1R5386,6ESCANYX01AGFD5850021N0I,GO,3,45.0,A 5,3.8,2.8,3.2,86,2001
3,VOLKSWAGEN,LUPO 3L TDI,MVW70C1R6387,6ESCANYX01AGFD5850021N1H,GO,3,45.0,A 5,4.0,2.7,3.2,86,2001
4,VOLKSWAGEN,LUPO 3L TDI,MVW70C1RY573,6ESCAYZX01AGFD5850021N0I,GO,3,45.0,A 5,3.8,2.8,3.2,86,2001
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5911,VOLVO,S602.4L (140ch) GPL BVA,MVV9602R4761,HU33P9,GP/ES,9,103.0,A 5,18.5,9.6,12.9,209,2001
5912,SUBARU,LEGACY OUTBACK 2.5L GPL BVA,BH9LRA2GC,BH9LRA2GC,GP/ES,10,113.0,A 4,17.9,10.4,13.2,212,2001
5913,VOLVO,S802.4L (140ch) GPL BVA,MVV9602Q5763,KU33P9,GP/ES,9,103.0,A 5,18.7,10.1,13.3,215,2001
5914,VOLVO,V702.4L (140ch) GPL BVA,MVV9604L0759,JU33P9,GP/ES,9,103.0,A 5,19.0,10.5,13.6,221,2001
5915,LADA-VAZ,LADA NIVA GPL,212140SZ,212140SZ,GP/ES,7,58.0,M 5,19.5,11.4,14.3,242,2001

In [99]:
france_2001_df = drop_empty_columns(france_2001_df)
france_2001_df.info()

No empty columns found.
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5916 entries, 0 to 5915
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   MARQUES     5916 non-null   object
 1   MODELE      5916 non-null   object
 2   TYP. MINES  5916 non-null   object
 3   CNIT        5916 non-null   object
 4   CARB        5916 non-null   object
 5   CV          5916 non-null   object
 6   PUISS.      5916 non-null   float64
 7   BV          5916 non-null   object
 8   Urbain      5916 non-null   float64
 9   Ex.Urb      5916 non-null   float64
 10  Mixte       5916 non-null   float64
 11  CO2         5916 non-null   int64
 12  Year        5916 non-null   int64
dtypes: float64(4), int64(2), object(7)
memory usage: 601.0+ KB

In [83]:
#Load France Data 2002
file_path = r'data/france/3-fic_etiq_edition_01_maj_dec2002.xlsx'
france_2002_df = pd.read_excel(file_path )
france_2002_df['Year'] = 2002
france_2002_df.info()
france_2002_df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5183 entries, 0 to 5182
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   GROUPE             0 non-null      float64
 1   MARQUE             5183 non-null   object
 2   MODELE VERSION     5183 non-null   object
 3   CNIT               5183 non-null   object
 4   Unnamed: 4         5183 non-null   object
 5   Unnamed: 5         5183 non-null   object
 6   MINE               5183 non-null   object
 7   ENERGIE            5183 non-null   object
 8   puissance fiscale  5183 non-null   int64
 9   puissance reelle   5183 non-null   float64
 10  bv                 5183 non-null   object
 11  urb                5176 non-null   float64
 12  ex-urb             5176 non-null   float64
 13  mixte              5176 non-null   float64
 14  CO2                5176 non-null   float64
 15  IMMAT              0 non-null      float64
 16  SEGMENT            0 non-null      float64
 17  Year               5183 non-null   int64
dtypes: float64(8), int64(2), object(8)
memory usage: 729.0+ KB

,GROUPE,MARQUE,MODELE VERSION,CNIT,Unnamed: 4,Unnamed: 5,MINE,ENERGIE,puissance fiscale,puissance reelle,bv,urb,ex-urb,mixte,CO2,IMMAT,SEGMENT,Year
0,NaN,ALFA-ROMEO,147 3P 1.6TS (105ch),MAL1301JL265,1301JL265,1301J265,937AXA1A00,ES,7,77.0,M 5,11.1,6.3,8.1,192.0,NaN,NaN,2002
1,NaN,ALFA-ROMEO,147 3P 1.6TS (105ch),MAL1301JP330,1301JP330,1301J330,937AXA1A00B,ES,7,77.0,M 5,11.3,6.4,8.2,196.0,NaN,NaN,2002
2,NaN,ALFA-ROMEO,147 5P 1.6TS (105ch),MAL1302JY276,1302JY276,1302J276,937BXA1A05,ES,7,77.0,M 5,11.1,6.3,8.1,192.0,NaN,NaN,2002
3,NaN,ALFA-ROMEO,147 5P 1.6TS (105ch),MAL1302JU333,1302JU333,1302J333,937BXA1A05B,ES,7,77.0,M 5,11.3,6.4,8.2,196.0,NaN,NaN,2002
4,NaN,ALFA-ROMEO,147 3P 1.6TS (120ch),MAL1401JW266,1401JW266,1401J266,937AXB1A01,ES,8,88.0,M 5,11.2,6.4,8.2,194.0,NaN,NaN,2002
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5178,NaN,VOLVO,XC90 2.5LT BVA 7PL,MVV4914S3049,4914S3049,4914S049,CZ59G700,ES,15,154.0,A 5,16.3,9.5,12.0,287.0,NaN,NaN,2002
5179,NaN,VOLVO,XC90 T6 BVA,MVV4914S5051,4914S5051,4914S051,CM91G800,ES,20,200.0,A 4,18.5,9.6,12.9,309.0,NaN,NaN,2002
5180,NaN,VOLVO,XC90 T6 BVA 7PL,MVV4914S6052,4914S6052,4914S052,CZ91G800,ES,20,200.0,A 4,18.5,9.6,12.9,309.0,NaN,NaN,2002
5181,NaN,VOLVO,XC90 D5 BVA,MVV8714SP054,8714SP054,8714S054,CM793700,GO,11,120.0,A 5,11.9,7.5,9.1,242.0,NaN,NaN,2002
5182,NaN,VOLVO,XC90 D5 BVA 7PL,MVV8714SR056,8714SR056,8714S056,CZ793700,GO,11,120.0,A 5,11.9,7.5,9.1,242.0,NaN,NaN,2002

In [100]:
france_2002_df = drop_empty_columns(france_2002_df)
france_2002_df.info()

Dropping 3 empty columns:
['GROUPE', 'IMMAT', 'SEGMENT']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5183 entries, 0 to 5182
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   MARQUE             5183 non-null   object
 1   MODELE VERSION     5183 non-null   object
 2   CNIT               5183 non-null   object
 3   Unnamed: 4         5183 non-null   object
 4   Unnamed: 5         5183 non-null   object
 5   MINE               5183 non-null   object
 6   ENERGIE            5183 non-null   object
 7   puissance fiscale  5183 non-null   int64
 8   puissance reelle   5183 non-null   float64
 9   bv                 5183 non-null   object
 10  urb                5176 non-null   float64
 11  ex-urb             5176 non-null   float64
 12  mixte              5176 non-null   float64
 13  CO2                5176 non-null   float64
 14  Year               5183 non-null   int64
dtypes: float64(5), int64(2), object(8)
memory usage: 607.5+ KB

In [84]:
#Load France Data 2003
file_path = r'data/france/4-fic_etiq_edition_01_maj_MARS2003.xlsx'
france_2003_df = pd.read_excel(file_path )
france_2003_df['Year'] = 2003
france_2003_df.info()
france_2003_df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5398 entries, 0 to 5397
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   MARQUE             5398 non-null   object
 1   MODELE VERSION     5398 non-null   object
 2   CNIT               5398 non-null   object
 3   MINE               5398 non-null   object
 4   ENERGIE            5398 non-null   object
 5   puissance fiscale  5398 non-null   int64
 6   puissance reelle   5398 non-null   float64
 7   bv                 5398 non-null   object
 8   urb                5386 non-null   float64
 9   ex-urb             5386 non-null   float64
 10  mixte              5386 non-null   float64
 11  CO2                5386 non-null   float64
 12  IMMAT              5390 non-null   datetime64[ns]
 13  Year               5398 non-null   int64
dtypes: datetime64[ns](1), float64(5), int64(2), object(6)
memory usage: 590.5+ KB

,MARQUE,MODELE VERSION,CNIT,MINE,ENERGIE,puissance fiscale,puissance reelle,bv,urb,ex-urb,mixte,CO2,IMMAT,Year
0,ALFA-ROMEO,147 3P 1.6TS (105ch),MAL1301JL265,937AXA1A00,ES,7,77.0,M 5,11.1,6.3,8.1,192.0,2003-03-01,2003
1,ALFA-ROMEO,147 3P 1.6TS (105ch),MAL1301JE355,937AXA1A00C,ES,7,77.0,M 5,11.1,6.3,8.1,192.0,2003-03-01,2003
2,ALFA-ROMEO,147 3P 1.6TS (120ch),MAL1401JW266,937AXB1A01,ES,8,88.0,M 5,11.2,6.4,8.2,194.0,2003-03-01,2003
3,ALFA-ROMEO,147 3P 1.6TS (120ch),MAL1401JQ357,937AXB1A01C,ES,8,88.0,M 5,11.2,6.4,8.2,194.0,2003-03-01,2003
4,ALFA-ROMEO,147 3P 1.9JTD,MAL5401JG274,937AXD1A04,GO,7,85.0,M 5,7.8,4.7,5.8,155.0,2003-03-01,2003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5393,VOLVO,XC90 2.5LT BVA 7PL,MVV4914S3049,CZ59G700,ES,15,154.0,A 5,16.3,9.5,12.0,287.0,2003-03-01,2003
5394,VOLVO,XC90 D5 BVA,MVV8714SX062,CM793700,GO,11,120.0,A 5,11.9,7.5,9.1,242.0,2003-03-01,2003
5395,VOLVO,XC90 D5 BVA 7PL,MVV8714SZ064,CZ793700,GO,11,120.0,A 5,11.9,7.5,9.1,242.0,2003-03-01,2003
5396,VOLVO,XC90 T6 BVA,MVV4914S5051,CM91G800,ES,20,200.0,A 4,18.5,9.6,12.9,309.0,2003-03-01,2003
5397,VOLVO,XC90 T6 BVA 7PL,MVV4914S6052,CZ91G800,ES,20,200.0,A 4,18.5,9.6,12.9,309.0,2003-03-01,2003

In [101]:
france_2003_df = drop_empty_columns(france_2003_df)
france_2003_df.info()

No empty columns found.
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5398 entries, 0 to 5397
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   MARQUE             5398 non-null   object
 1   MODELE VERSION     5398 non-null   object
 2   CNIT               5398 non-null   object
 3   MINE               5398 non-null   object
 4   ENERGIE            5398 non-null   object
 5   puissance fiscale  5398 non-null   int64
 6   puissance reelle   5398 non-null   float64
 7   bv                 5398 non-null   object
 8   urb                5386 non-null   float64
 9   ex-urb             5386 non-null   float64
 10  mixte              5386 non-null   float64
 11  CO2                5386 non-null   float64
 12  IMMAT              5390 non-null   datetime64[ns]
 13  Year               5398 non-null   int64
dtypes: datetime64[ns](1), float64(5), int64(2), object(6)
memory usage: 590.5+ KB

In [102]:
#Load France Data 2004
file_path = r'data/france/6-fic_etiq_edition_jan_2004.xlsx'
france_2004_df = pd.read_excel(file_path ,sheet_name='fic_etiq_edition_03')
france_2004_df['Year'] = 2004
france_2004_df.info()
france_2004_df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4167 entries, 0 to 4166
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Marques               4167 non-null   object
 1   Mod√®les, Versions     4167 non-null   object
 2   CNIT                  4167 non-null   object
 3   Unnamed: 3            4167 non-null   object
 4   CARBURANT             4167 non-null   object
 5   Puiss Administrative  4167 non-null   int64
 6   Puissance max         4167 non-null   float64
 7   BV                    4167 non-null   object
 8   Conso urb             4167 non-null   float64
 9   Conso ex-urb          4167 non-null   float64
 10  Conso mixte           4167 non-null   float64
 11  CO2                   4167 non-null   int64
 12  Unnamed: 12           4167 non-null   object
 13  Unnamed: 13           0 non-null      float64
 14  Unnamed: 14           4167 non-null   object
 15  Unnamed: 15           3664 non-null   object
 16  Year                  4167 non-null   int64
dtypes: float64(5), int64(3), object(9)
memory usage: 553.6+ KB

,Marques,"Mod√®les, Versions",CNIT,Unnamed: 3,CARBURANT,Puiss Administrative,Puissance max,BV,Conso urb,Conso ex-urb,Conso mixte,CO2,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Year
0,ALFA-ROMEO,147 3P 1.6TS (105ch),MAL1301JE355,MAL1301JE355,ES,7,77.0,M 5,11.1,6.3,8.1,192,D√©cembre 2003,NaN,147 3P 1.6TS (105ch)777.0M 511.16.38.1192,MAL1301JE355,2004
1,ALFA-ROMEO,147 3P 1.6TS (120ch),MAL1401JQ357,MAL1401JQ357,ES,8,88.0,M 5,11.2,6.4,8.2,194,D√©cembre 2003,NaN,147 3P 1.6TS (120ch)888.0M 511.26.48.2194,MAL1401JQ357,2004
2,ALFA-ROMEO,147 3P 2.0L SELESPEED,MAL1601JC359,MAL1601JC359,ES,10,110.0,M 5,12.1,7.0,8.9,211,D√©cembre 2003,NaN,147 3P 2.0L SELESPEED10110.0M 512.17.08.9211,MAL1601JC359,2004
3,ALFA-ROMEO,147 3P 2.0TS,MAL1601JE361,MAL1601JE361,ES,10,110.0,M 5,12.1,7.0,8.9,211,D√©cembre 2003,NaN,147 3P 2.0TS10110.0M 512.17.08.9211,MAL1601JE361,2004
4,ALFA-ROMEO,147 5P 1.6TS (105ch),MAL1302JP364,MAL1302JP364,ES,7,77.0,M 5,11.1,6.3,8.1,192,D√©cembre 2003,NaN,147 5P 1.6TS (105ch)777.0M 511.16.38.1192,MAL1302JP364,2004
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4162,VOLVO,XC70 D5 BVA,MVV8714TJ205,MVV8714TJ205,GO,11,120.0,A 5,11.4,6.8,8.5,226,D√©cembre 2003,NaN,XC70 D5 BVA11120.0A 511.46.88.5226,MVV8714TJ205,2004
4163,VOLVO,XC90 D5,MVV6714SX262,MVV6714SX262,GO,11,120.0,M 6,10.5,7.0,8.3,219,D√©cembre 2003,NaN,XC90 D511120.0M 610.57.08.3219,MVV6714SX262,2004
4164,VOLVO,XC90 D5 7PL,MVV6714SZ264,MVV6714SZ264,GO,11,120.0,M 6,10.5,7.0,8.3,219,D√©cembre 2003,NaN,XC90 D5 7PL11120.0M 610.57.08.3219,MVV6714SZ264,2004
4165,VOLVO,XC90 D5 7PL BVA,MVV8714SJ242,MVV8714SJ242,GO,11,120.0,A 5,11.9,7.5,9.1,242,D√©cembre 2003,NaN,XC90 D5 7PL BVA11120.0A 511.97.59.1242,MVV8714SJ242,2004
4166,VOLVO,XC90 D5 BVA,MVV8714SF238,MVV8714SF238,GO,11,120.0,A 5,11.9,7.5,9.1,242,D√©cembre 2003,NaN,XC90 D5 BVA11120.0A 511.97.59.1242,MVV8714SF238,2004

In [ ]:
france_2004_df = drop_empty_columns(france_2004_df)
france_2004_df.info()

In [95]:
#Load France Data 2005
file_path = r'data/france/7-fic_etiq_edition_janvier2005.xlsx'
france_2005_df = pd.read_excel(file_path )
france_2005_df['Year'] = 2005
france_2005_df.info()
france_2005_df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3865 entries, 0 to 3864
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   MARQUE             3865 non-null   object
 1   MODELE VERSION     3865 non-null   object
 2   CNIT               3865 non-null   object
 3   puissance fiscale  3865 non-null   object
 4   puissance reelle   3865 non-null   float64
 5   bv                 3865 non-null   object
 6   urb                3865 non-null   float64
 7   ex-urb             3865 non-null   float64
 8   mixte              3865 non-null   float64
 9   CO2                3865 non-null   int64
 10  ENERGIE            3865 non-null   object
 11  Unnamed: 11        0 non-null      float64
 12  Unnamed: 12        0 non-null      float64
 13  Unnamed: 13        0 non-null      float64
 14  Unnamed: 14        0 non-null      float64
 15  nan                0 non-null      float64
 16  nan.1              0 non-null      float64
 17  nan.2              0 non-null      float64
 18  Year               3865 non-null   int64
dtypes: float64(11), int64(2), object(6)
memory usage: 573.8+ KB

,MARQUE,MODELE VERSION,CNIT,puissance fiscale,puissance reelle,bv,urb,ex-urb,mixte,CO2,ENERGIE,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,NaN,nan.1,nan.2,Year
0,ALFA-ROMEO,147 3P 1.6 TS (105ch),MAL1301JY594,7,77.0,M 5,11.1,6.3,8.1,192,ES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005
1,ALFA-ROMEO,147 3P 1.6 TS (120ch),MAL1401JA596,8,88.0,M 5,11.2,6.4,8.2,194,ES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005
2,ALFA-ROMEO,147 3P 2.0 TS,MAL1601JY600,10,110.0,M 5,12.1,7.0,8.9,211,ES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005
3,ALFA-ROMEO,147 3P 2.0L SELESPEED,MAL1601JW598,10,110.0,M 5,12.1,7.0,8.9,211,ES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005
4,ALFA-ROMEO,147 5P 1.6 TS (105ch),MAL1302JC606,7,77.0,M 5,11.1,6.3,8.1,192,ES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3860,VOLVO,XC70 D5 BVA,MVV8714TT384,11,120.0,A 5,11.2,6.7,8.4,223,GO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005
3861,VOLVO,XC90 D5,MVV6714SA300,11,120.0,M 6,10.3,6.9,8.2,216,GO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005
3862,VOLVO,XC90 D5 7PL,MVV6714SF305,11,120.0,M 6,10.3,6.9,8.2,216,GO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005
3863,VOLVO,XC90 D5 7PL BVA,MVV8714SM306,11,120.0,A 5,11.8,7.4,9.0,239,GO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005
3864,VOLVO,XC90 D5 BVA,MVV8714SH301,11,120.0,A 5,11.8,7.4,9.0,239,GO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005

In [ ]:
france_2001_df = drop_empty_columns(france_2001_df)
france_2001_df.info()

In [93]:
france_df = pd.concat(
    [france_2001_df, france_2002_df, france_2003_df, france_2004_df],
    ignore_index=True,
    sort=False
)
france_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16526 entries, 0 to 16525
Data columns (total 37 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   MARQUES               5916 non-null   object
 1   MODELE                5916 non-null   object
 2   TYP. MINES            5916 non-null   object
 3   CNIT                  16526 non-null  object
 4   CARB                  5916 non-null   object
 5   CV                    5916 non-null   object
 6   PUISS.                5916 non-null   float64
 7   BV                    5945 non-null   object
 8   Urbain                5916 non-null   float64
 9   Ex.Urb                5916 non-null   float64
 10  Mixte                 5916 non-null   float64
 11  CO2                   16507 non-null  float64
 12  Year                  16526 non-null  int64
 13  GROUPE                0 non-null      float64
 14  MARQUE                10581 non-null  object
 15  MODELE VERSION        10581 non-null  object
 16  Unnamed: 4            5183 non-null   object
 17  Unnamed: 5            5183 non-null   object
 18  MINE                  10581 non-null  object
 19  ENERGIE               10581 non-null  object
 20  puissance fiscale     10581 non-null  float64
 21  puissance reelle      10581 non-null  float64
 22  bv                    10581 non-null  object
 23  urb                   10562 non-null  float64
 24  ex-urb                10562 non-null  float64
 25  mixte                 10562 non-null  float64
 26  IMMAT                 5390 non-null   datetime64[ns]
 27  SEGMENT               0 non-null      float64
 28  Marques               29 non-null     object
 29  Mod√®les, Versions     29 non-null     object
 30  CARBURANT             29 non-null     object
 31  Puiss Administrative  29 non-null     float64
 32  Puissance max         29 non-null     float64
 33  Conso urb             29 non-null     float64
 34  Conso ex-urb          29 non-null     float64
 35  Conso mixte           29 non-null     float64
 36  Unnamed: 11           29 non-null     object
dtypes: datetime64[ns](1), float64(17), int64(1), object(18)
memory usage: 4.7+ MB

C:\Users\flfdfwk\AppData\Local\Temp\ipykernel_35420\1698015322.py:1: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  france_df = pd.concat(

In [94]:

# Rename columns using the mapping
applied = {c: rename_map[c] for c in france_df.columns if c.strip() in rename_map and rename_map[c.strip()]}
print(f"Planned renames ({len(applied)}):")
for k, v in list(applied.items())[:25]:
    print(f"{k} -> {v}")
if not applied:
    print("No matching columns found.")

france_df = france_df.rename(columns=applied)

# Merge columns with the same name by taking the first non-null value
france_df = france_df.groupby(level=0, axis=1).first()

france_df.info()
france_df.head()

Planned renames (37):
MARQUES -> Make
MODELE -> Model Name
TYP. MINES -> MINE
CNIT -> CNIT
CARB -> Fuel type
CV -> CV
PUISS. -> Administrative power
BV -> Gear
Urbain -> Urban fuel consumption
Ex.Urb -> Extra-urban fuel consumption
Mixte -> Combined fuel consumption
CO2 -> CO2_NEDC
Year -> Year
GROUPE -> GROUPE
MARQUE -> Make
MODELE VERSION -> Model Name
Unnamed: 4 -> Unnamed: 4
Unnamed: 5 -> Unnamed: 5
MINE -> MINE
ENERGIE -> Fuel type
puissance fiscale -> Administrative power
puissance reelle -> Maximum power
bv -> Gear
urb -> Urban fuel consumption
ex-urb -> Extra-urban fuel consumption

C:\Users\flfdfwk\AppData\Local\Temp\ipykernel_35420\2381729143.py:12: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  france_df = france_df.groupby(level=0, axis=1).first()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16526 entries, 0 to 16525
Data columns (total 20 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Administrative power          16526 non-null  float64
 1   CNIT                          16526 non-null  object
 2   CO2_NEDC                      16507 non-null  float64
 3   CV                            5916 non-null   object
 4   Combined fuel consumption     16507 non-null  float64
 5   Date                          29 non-null     object
 6   Extra-urban fuel consumption  16507 non-null  float64
 7   Fuel type                     16526 non-null  object
 8   GROUPE                        0 non-null      object
 9   Gear                          16526 non-null  object
 10  IMMAT                         5390 non-null   datetime64[ns]
 11  MINE                          16497 non-null  object
 12  Make                          16526 non-null  object
 13  Maximum power                 10610 non-null  float64
 14  Model Name                    16526 non-null  object
 15  SEGMENT                       0 non-null      object
 16  Unnamed: 4                    5183 non-null   object
 17  Unnamed: 5                    5183 non-null   object
 18  Urban fuel consumption        16507 non-null  float64
 19  Year                          16526 non-null  int64
dtypes: datetime64[ns](1), float64(6), int64(1), object(12)
memory usage: 2.5+ MB

,Administrative power,CNIT,CO2_NEDC,CV,Combined fuel consumption,Date,Extra-urban fuel consumption,Fuel type,GROUPE,Gear,IMMAT,MINE,Make,Maximum power,Model Name,SEGMENT,Unnamed: 4,Unnamed: 5,Urban fuel consumption,Year
0,45.0,6ESCANYX01AGFD5850021N0H,81.0,3,3.0,None,2.7,GO,None,A 5,NaT,MVW70C1R4385,VOLKSWAGEN,NaN,LUPO 3L TDI,None,None,None,3.6,2001
1,45.0,6ESCAYZX01AGFD5850021N0H,81.0,3,3.0,None,2.7,GO,None,A 5,NaT,MVW70C1RX572,VOLKSWAGEN,NaN,LUPO 3L TDI,None,None,None,3.6,2001
2,45.0,6ESCANYX01AGFD5850021N0I,86.0,3,3.2,None,2.8,GO,None,A 5,NaT,MVW70C1R5386,VOLKSWAGEN,NaN,LUPO 3L TDI,None,None,None,3.8,2001
3,45.0,6ESCANYX01AGFD5850021N1H,86.0,3,3.2,None,2.7,GO,None,A 5,NaT,MVW70C1R6387,VOLKSWAGEN,NaN,LUPO 3L TDI,None,None,None,4.0,2001
4,45.0,6ESCAYZX01AGFD5850021N0I,86.0,3,3.2,None,2.8,GO,None,A 5,NaT,MVW70C1RY573,VOLKSWAGEN,NaN,LUPO 3L TDI,None,None,None,3.8,2001

In [63]:

file_path = r'data/france/3-fic_etiq_edition_01_maj_dec2002.xlsx'
france_2002_df = pd.read_excel(file_path )
france_2002_df['Year'] = 2002
france_2002_df.info()
france_2002_df

YEAR_VALUE = 2002

# Filter dictionary for 2002
dict_2002 = frace_datadict_df[frace_datadict_df["Year"] == YEAR_VALUE]
dict_2002
# Build mapping
mapping_df = (
    dict_2002[[SOURCE_COL, TARGET_COL]]
    .dropna()
    .drop_duplicates(subset=SOURCE_COL)
    .assign(**{
        SOURCE_COL: lambda d: d[SOURCE_COL].astype(str).str.strip(),
        TARGET_COL: lambda d: d[TARGET_COL].astype(str).str.strip()
    })
)
rename_map = dict(zip(mapping_df[SOURCE_COL], mapping_df[TARGET_COL]))

applied = {c: rename_map[c] for c in france_2002_df.columns if c in rename_map and rename_map[c]}
print(f"Planned renames ({len(applied)}):")
for k,v in list(applied.items())[:25]:
    print(f"{k} -> {v}")
if not applied:
    print("No matching columns found.")

france_2002_df = france_2002_df.rename(columns=applied)
france_2002_df.info()
france_2002_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5183 entries, 0 to 5182
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   GROUPE             0 non-null      float64
 1   MARQUE             5183 non-null   object
 2   MODELE VERSION     5183 non-null   object
 3   CNIT               5183 non-null   object
 4   Unnamed: 4         5183 non-null   object
 5   Unnamed: 5         5183 non-null   object
 6   MINE               5183 non-null   object
 7   ENERGIE            5183 non-null   object
 8   puissance fiscale  5183 non-null   int64
 9   puissance reelle   5183 non-null   float64
 10  bv                 5183 non-null   object
 11  urb                5176 non-null   float64
 12  ex-urb             5176 non-null   float64
 13  mixte              5176 non-null   float64
 14  CO2                5176 non-null   float64
 15  IMMAT              0 non-null      float64
 16  SEGMENT            0 non-null      float64
 17  Year               5183 non-null   int64
dtypes: float64(8), int64(2), object(8)
memory usage: 729.0+ KB
Planned renames (15):
GROUPE -> GROUPE
MARQUE -> Make
MODELE VERSION -> Model Name
Unnamed: 4 -> Unnamed: 4
Unnamed: 5 -> Unnamed: 5
MINE -> MINE
ENERGIE -> Fuel type
puissance fiscale -> Administrative power
puissance reelle -> Maximum power
bv -> Gear
urb -> Urban fuel consumption
ex-urb -> Extra-urban fuel consumption
mixte -> Combined fuel consumption
IMMAT -> IMMAT
SEGMENT -> SEGMENT
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5183 entries, 0 to 5182
Data columns (total 18 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   GROUPE                        0 non-null      float64
 1   Make                          5183 non-null   object
 2   Model Name                    5183 non-null   object
 3   CNIT                          5183 non-null   object
 4   Unnamed: 4                    5183 non-null   object
 5   Unnamed: 5                    5183 non-null   object
 6   MINE                          5183 non-null   object
 7   Fuel type                     5183 non-null   object
 8   Administrative power          5183 non-null   int64
 9   Maximum power                 5183 non-null   float64
 10  Gear                          5183 non-null   object
 11  Urban fuel consumption        5176 non-null   float64
 12  Extra-urban fuel consumption  5176 non-null   float64
 13  Combined fuel consumption     5176 non-null   float64
 14  CO2                           5176 non-null   float64
 15  IMMAT                         0 non-null      float64
 16  SEGMENT                       0 non-null      float64
 17  Year                          5183 non-null   int64
dtypes: float64(8), int64(2), object(8)
memory usage: 729.0+ KB

,GROUPE,Make,Model Name,CNIT,Unnamed: 4,Unnamed: 5,MINE,Fuel type,Administrative power,Maximum power,Gear,Urban fuel consumption,Extra-urban fuel consumption,Combined fuel consumption,CO2,IMMAT,SEGMENT,Year
0,NaN,ALFA-ROMEO,147 3P 1.6TS (105ch),MAL1301JL265,1301JL265,1301J265,937AXA1A00,ES,7,77.0,M 5,11.1,6.3,8.1,192.0,NaN,NaN,2002
1,NaN,ALFA-ROMEO,147 3P 1.6TS (105ch),MAL1301JP330,1301JP330,1301J330,937AXA1A00B,ES,7,77.0,M 5,11.3,6.4,8.2,196.0,NaN,NaN,2002
2,NaN,ALFA-ROMEO,147 5P 1.6TS (105ch),MAL1302JY276,1302JY276,1302J276,937BXA1A05,ES,7,77.0,M 5,11.1,6.3,8.1,192.0,NaN,NaN,2002
3,NaN,ALFA-ROMEO,147 5P 1.6TS (105ch),MAL1302JU333,1302JU333,1302J333,937BXA1A05B,ES,7,77.0,M 5,11.3,6.4,8.2,196.0,NaN,NaN,2002
4,NaN,ALFA-ROMEO,147 3P 1.6TS (120ch),MAL1401JW266,1401JW266,1401J266,937AXB1A01,ES,8,88.0,M 5,11.2,6.4,8.2,194.0,NaN,NaN,2002

In [59]:

file_path = r'data/france/3-fic_etiq_edition_01_maj_dec2002.xlsx'
france_2002_df = pd.read_excel(file_path )
france_2002_df['Year'] = 2002
france_2002_df.info()
france_2002_df

file_path = r'data/france/3-fic_etiq_edition_01_maj_dec2002.xlsx'
france_2002_df = pd.read_excel(file_path )
france_2002_df['Year'] = 2002
france_2002_df.info()
france_2002_df


file_path = r'data/france/3-fic_etiq_edition_01_maj_dec2002.xlsx'
france_2002_df = pd.read_excel(file_path )
france_2002_df['Year'] = 2002
france_2002_df.info()
france_2002_df



#france_df = pd.concat([france_2014_df, france_2015_df], ignore_index=True)
#france_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5183 entries, 0 to 5182
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   GROUPE             0 non-null      float64
 1   MARQUE             5183 non-null   object
 2   MODELE VERSION     5183 non-null   object
 3   CNIT               5183 non-null   object
 4   Unnamed: 4         5183 non-null   object
 5   Unnamed: 5         5183 non-null   object
 6   MINE               5183 non-null   object
 7   ENERGIE            5183 non-null   object
 8   puissance fiscale  5183 non-null   int64
 9   puissance reelle   5183 non-null   float64
 10  bv                 5183 non-null   object
 11  urb                5176 non-null   float64
 12  ex-urb             5176 non-null   float64
 13  mixte              5176 non-null   float64
 14  CO2                5176 non-null   float64
 15  IMMAT              0 non-null      float64
 16  SEGMENT            0 non-null      float64
 17  Year               5183 non-null   int64
dtypes: float64(8), int64(2), object(8)
memory usage: 729.0+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5183 entries, 0 to 5182
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   GROUPE             0 non-null      float64
 1   MARQUE             5183 non-null   object
 2   MODELE VERSION     5183 non-null   object
 3   CNIT               5183 non-null   object
 4   Unnamed: 4         5183 non-null   object
 5   Unnamed: 5         5183 non-null   object
 6   MINE               5183 non-null   object
 7   ENERGIE            5183 non-null   object
 8   puissance fiscale  5183 non-null   int64
 9   puissance reelle   5183 non-null   float64
 10  bv                 5183 non-null   object
 11  urb                5176 non-null   float64
 12  ex-urb             5176 non-null   float64
 13  mixte              5176 non-null   float64
 14  CO2                5176 non-null   float64
 15  IMMAT              0 non-null      float64
 16  SEGMENT            0 non-null      float64
 17  Year               5183 non-null   int64
dtypes: float64(8), int64(2), object(8)
memory usage: 729.0+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5183 entries, 0 to 5182
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   GROUPE             0 non-null      float64
 1   MARQUE             5183 non-null   object
 2   MODELE VERSION     5183 non-null   object
 3   CNIT               5183 non-null   object
 4   Unnamed: 4         5183 non-null   object
 5   Unnamed: 5         5183 non-null   object
 6   MINE               5183 non-null   object
 7   ENERGIE            5183 non-null   object
 8   puissance fiscale  5183 non-null   int64
 9   puissance reelle   5183 non-null   float64
 10  bv                 5183 non-null   object
 11  urb                5176 non-null   float64
 12  ex-urb             5176 non-null   float64
 13  mixte              5176 non-null   float64
 14  CO2                5176 non-null   float64
 15  IMMAT              0 non-null      float64
 16  SEGMENT            0 non-null      float64
 17  Year               5183 non-null   int64
dtypes: float64(8), int64(2), object(8)
memory usage: 729.0+ KB

,GROUPE,MARQUE,MODELE VERSION,CNIT,Unnamed: 4,Unnamed: 5,MINE,ENERGIE,puissance fiscale,puissance reelle,bv,urb,ex-urb,mixte,CO2,IMMAT,SEGMENT,Year
0,NaN,ALFA-ROMEO,147 3P 1.6TS (105ch),MAL1301JL265,1301JL265,1301J265,937AXA1A00,ES,7,77.0,M 5,11.1,6.3,8.1,192.0,NaN,NaN,2002
1,NaN,ALFA-ROMEO,147 3P 1.6TS (105ch),MAL1301JP330,1301JP330,1301J330,937AXA1A00B,ES,7,77.0,M 5,11.3,6.4,8.2,196.0,NaN,NaN,2002
2,NaN,ALFA-ROMEO,147 5P 1.6TS (105ch),MAL1302JY276,1302JY276,1302J276,937BXA1A05,ES,7,77.0,M 5,11.1,6.3,8.1,192.0,NaN,NaN,2002
3,NaN,ALFA-ROMEO,147 5P 1.6TS (105ch),MAL1302JU333,1302JU333,1302J333,937BXA1A05B,ES,7,77.0,M 5,11.3,6.4,8.2,196.0,NaN,NaN,2002
4,NaN,ALFA-ROMEO,147 3P 1.6TS (120ch),MAL1401JW266,1401JW266,1401J266,937AXB1A01,ES,8,88.0,M 5,11.2,6.4,8.2,194.0,NaN,NaN,2002
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5178,NaN,VOLVO,XC90 2.5LT BVA 7PL,MVV4914S3049,4914S3049,4914S049,CZ59G700,ES,15,154.0,A 5,16.3,9.5,12.0,287.0,NaN,NaN,2002
5179,NaN,VOLVO,XC90 T6 BVA,MVV4914S5051,4914S5051,4914S051,CM91G800,ES,20,200.0,A 4,18.5,9.6,12.9,309.0,NaN,NaN,2002
5180,NaN,VOLVO,XC90 T6 BVA 7PL,MVV4914S6052,4914S6052,4914S052,CZ91G800,ES,20,200.0,A 4,18.5,9.6,12.9,309.0,NaN,NaN,2002
5181,NaN,VOLVO,XC90 D5 BVA,MVV8714SP054,8714SP054,8714S054,CM793700,GO,11,120.0,A 5,11.9,7.5,9.1,242.0,NaN,NaN,2002
5182,NaN,VOLVO,XC90 D5 BVA 7PL,MVV8714SR056,8714SR056,8714S056,CZ793700,GO,11,120.0,A 5,11.9,7.5,9.1,242.0,NaN,NaN,2002

In [60]:

file_path = r'data/france/fic_etiq_edition_40-mars-2015.csv'
france_2015_df = pd.read_csv(file_path, sep=";", encoding ='latin1')
france_2015_df['Year'] = 2015
france_2015_df.info()

file_path = r'data/france/mars-2014-complete.csv'
france_2014_df = pd.read_csv(file_path, sep=";", encoding ='latin1')
france_2014_df['Year'] = 2014
france_2014_df.info()

file_path = r'data/france/cl_JUIN_2013-complet3.csv'
france_2013_df = pd.read_csv(file_path, sep=";", encoding ='latin1')
france_2013_df['Year'] = 2013
france_2013_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20880 entries, 0 to 20879
Data columns (total 27 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   lib_mrq_doss       20880 non-null  object
 1   lib_mod_doss       20880 non-null  object
 2   mrq_utac           20880 non-null  object
 3   mod_utac           20880 non-null  object
 4   dscom              20880 non-null  object
 5   cnit               20880 non-null  object
 6   tvv                20880 non-null  object
 7   energ              20880 non-null  object
 8   hybride            20880 non-null  object
 9   puiss_admin        20880 non-null  int64
 10  puiss_max          20824 non-null  float64
 11  puiss_heure        895 non-null    float64
 12  typ_boite_nb_rapp  20880 non-null  object
 13  conso_urb_93       20759 non-null  float64
 14  conso_exurb        20759 non-null  float64
 15  conso_mixte        20824 non-null  float64
 16  co2_mixte          20824 non-null  float64
 17  co_typ_1           20605 non-null  float64
 18  hc                 8897 non-null   float64
 19  nox                20605 non-null  float64
 20  hcnox              11735 non-null  float64
 21  ptcl               19170 non-null  float64
 22  masse_ordma_min    20880 non-null  int64
 23  masse_ordma_max    20880 non-null  int64
 24  champ_v9           20880 non-null  object
 25  date_maj           20880 non-null  object
 26  Year               20880 non-null  int64
dtypes: float64(11), int64(4), object(12)
memory usage: 4.3+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55044 entries, 0 to 55043
Data columns (total 31 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   lib_mrq            55044 non-null  object
 1   lib_mod_doss       55044 non-null  object
 2   lib_mod            55044 non-null  object
 3   dscom              55044 non-null  object
 4   cnit               55044 non-null  object
 5   tvv                55044 non-null  object
 6   cod_cbr            55044 non-null  object
 7   hybride            55044 non-null  object
 8   puiss_admin_98     55044 non-null  int64
 9   puiss_max          55044 non-null  object
 10  typ_boite_nb_rapp  55044 non-null  object
 11  conso_urb          55001 non-null  object
 12  conso_exurb        55001 non-null  object
 13  conso_mixte        55010 non-null  object
 14  co2                55010 non-null  float64
 15  co_typ_1           54886 non-null  object
 16  hc                 9773 non-null   object
 17  nox                54886 non-null  object
 18  hcnox              45156 non-null  object
 19  ptcl               52366 non-null  object
 20  masse_ordma_min    55044 non-null  int64
 21  masse_ordma_max    55044 non-null  int64
 22  champ_v9           54983 non-null  object
 23  date_maj           3247 non-null   object
 24  Carrosserie        55044 non-null  object
 25  gamme              55044 non-null  object
 26  Unnamed: 26        0 non-null      float64
 27  Unnamed: 27        0 non-null      float64
 28  Unnamed: 28        0 non-null      float64
 29  Unnamed: 29        0 non-null      float64
 30  Year               55044 non-null  int64
dtypes: float64(5), int64(4), object(22)
memory usage: 13.0+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44850 entries, 0 to 44849
Data columns (total 27 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Marque                                44850 non-null  object
 1   Mod√®le dossier                        44850 non-null  object
 2   Mod√®le UTAC                           44850 non-null  object
 3   D√©signation commerciale               44850 non-null  object
 4   CNIT                                  44850 non-null  object
 5   Type Variante Version (TVV)           44850 non-null  object
 6   Carburant                             44850 non-null  object
 7   Hybride                               44850 non-null  object
 8   Puissance administrative              44850 non-null  int64
 9   Puissance maximale (kW)               44850 non-null  float64
 10  Bo√Æte de vitesse                      44850 non-null  object
 11  Consommation urbaine (l/100km)        44808 non-null  float64
 12  Consommation extra-urbaine (l/100km)  44808 non-null  float64
 13  Consommation mixte (l/100km)          44811 non-null  float64
 14  CO2 (g/km)                            44811 non-null  float64
 15  CO type I (g/km)                      44547 non-null  float64
 16  HC (g/km)                             10403 non-null  float64
 17  NOX (g/km)                            44547 non-null  float64
 18  HC+NOX (g/km)                         34191 non-null  float64
 19  Particules (g/km)                     41708 non-null  float64
 20  masse vide euro min (kg)              44850 non-null  int64
 21  masse vide euro max (kg)              44850 non-null  int64
 22  Champ V9                              44615 non-null  object
 23  Date de mise √† jour                   44850 non-null  object
 24  Carrosserie                           44850 non-null  object
 25  gamme                                 44850 non-null  object
 26  Year                                  44850 non-null  int64
dtypes: float64(10), int64(4), object(13)
memory usage: 9.2+ MB

In [61]:
#Load France Data